body {
  text-align: center;
  margin: 1rem;
}
/*colors:
#323232 - black
#eeeeee - grey
#00897f - green
#f26522 - orange
 */
h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.nav-links {
  display: none;
}
#cat_with_skyline {
  background-image: url("/Users/laurenericson/Desktop/CoderGirl/cat_costume_project/assets/images/kats-hero-mobile-bg.jpg");
  display: flex;
  justify-content: center;
}
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.8rem;
}
.text_descriptions {
  font-family: 'PT Serif', serif;
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin: 1rem;
}
h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5rem;
  color: #00897f;
  text-transform: uppercase;
}
#Kat_Mavis {
  background-color: #eeeeee;
  padding: .8rem;

}
.cat3 img {
  border-radius: 50%;
  margin: 2rem 1rem 1rem 1rem;
}

.get-in-touch{
  background-color: #eeeeee;
  padding-top: .5rem;
  padding-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
}

.weekly {
  display: flex;
  font-family: 'PT Serif', serif;
  font-size: 1rem;
}

.MF-hours p, h5 {
  margin: 0;
  padding: 1rem;
}

.hours {
  display: flex;
  flex-direction: column;
}
.map {
  display: flex;
  height: 20rem;
  background-image: url("/Users/laurenericson/Desktop/CoderGirl/cat_costume_project/assets/images/kats-map.jpg");
  background-position: center;
  margin-top: 1rem;
}
.address {
  display: flex;
  flex-direction: column;
  color: #f26522;
}
.address p {
  margin: 1rem 0 0 1rem;
}
footer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.1rem;
  color: white;
  background-color: #00897f;
  padding: 1rem;
  padding-bottom: 2rem;
}
h4 {
display: none;
}
.cat1 img,  .cat2 img{
  display: none;
}
/* .cat2 img{
  /* display: none;
} */
/* On devices wider than 660px */
@media(min-width: 660px) {
/* still struggling with getting nav to display correctly */
/*need nav links to work */
#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 7rem;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  margin-right: 1rem;
}
a {
  text-decoration: none;
}
#Kat_Mavis {
  display: flex;
  justify-content: center;
  background-color: white;
}
.about_descriptions {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1rem;
  background-color: #eeeeee;
}
.about_descriptions < .text_descriptions {
  margin-top: 0;
}
.cat1 img , .cat2 img {
  display: block;
  border-radius: 50%;
  margin: 2rem 1rem 1rem 1rem;
}
#cat_photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact-section {
  background-color: #eeeeee;
}
  h4 {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.8rem;
    padding-top: 3rem;
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
  .get-in-touch {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .business-contact , .contact-info {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 2rem 1rem;
    padding: 1rem 1rem 1rem .5rem;
    background-color: white;
  }
}

/* On devices wider than 940px */
@media(min-width: 1050px) {
body {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
}
